<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <!-- <aside class="sidebar">
            <ul>
                <li>
                    <mat-icon aria-hidden="false" aria-label="home">home</mat-icon>
                </li>
                <li>
                    <mat-icon aria-hidden="false" aria-label="operators">view_list</mat-icon>
                </li>
                <li>
                    <mat-icon aria-hidden="false" aria-label="home">home</mat-icon>
                </li>
                <li>
                    <mat-icon aria-hidden="false" aria-label="operators">view_list</mat-icon>
                </li>
                <li>
                    <mat-icon aria-hidden="false" aria-label="home">home</mat-icon>
                </li>
                <li>
                    <mat-icon aria-hidden="false" aria-label="operators">view_list</mat-icon>
                </li>
                <li>
                    <mat-icon aria-hidden="false" aria-label="home">home</mat-icon>
                </li>
                <li>
                    <mat-icon aria-hidden="false" aria-label="operators">view_list</mat-icon>
                </li>
                <li>
                    <mat-icon aria-hidden="false" aria-label="home">home</mat-icon>
                </li>
                <li>
                    <mat-icon aria-hidden="false" aria-label="operators">view_list</mat-icon>
                </li>
            </ul>
        </aside> -->

        <aside class="sidebar">
            <ul>
                <li>
                    Mark entry
                </li>
                <li>
                    Rule Setup
                </li>
                <li>
                    Component Configuration
                </li>
                <li>
                    Copy template
                </li>
                <li>
                    Mark upload
                </li>
                <li>
                    Rule Setup
                </li>
            </ul>
        </aside>

    </mat-drawer>



    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>